body {
    font-size: 1em;
    line-height: 1.3;
}

h1,
h2 {
    color: #4a758b; /* #3C6478; */
    text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px 20px;
}

header {
    padding: 0 10px;
    /* text-align: center; */
}

header h1, 
header h2 {
    padding-left: 10px;
}

main div {
    padding: 0 20px;
}

.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6 {
    color: #4a758b; /* #3C6478; */
    text-transform: uppercase;
}

.sidebar {
    float: left;
    width: 200px;
    padding: 10px;
    margin-right: 25px;
}

.sidebar section {
    padding: 0 0 20px 10px;
}

.main h2 {
    padding-left: 10px;
}

.main h3 {
    margin: 5px 0 15px 0;
}

.main h4 {
    margin: 0 0 5px 0;
}

.main {
    float: left;
    width: 800px;
    padding: 0 10px;
    margin-left: 10px;
}

.main section {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #4a758b2a; /* #eae8e8; */
    border: 1px solid #4a758b;
    border-radius: 5px;
}

footer {
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
}


/* Font classes - for fonts loaded from Google Fonts */
/* Barlow */
/* https://fonts.google.com/specimen/Barlow?query=Barlow */
.barlow-regular {
    font-family: "Barlow", serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-medium {
    font-family: "Barlow", serif;
    font-weight: 500;
    font-style: normal;
}

.barlow-semibold {
    font-family: "Barlow", serif;
    font-weight: 600;
    font-style: normal;
}

.barlow-bold {
    font-family: "Barlow", serif;
    font-weight: 700;
    font-style: normal;
}

.barlow-regular-italic {
    font-family: "Barlow", serif;
    font-weight: 400;
    font-style: italic;
}

.barlow-medium-italic {
    font-family: "Barlow", serif;
    font-weight: 500;
    font-style: italic;
}

.barlow-semibold-italic {
    font-family: "Barlow", serif;
    font-weight: 600;
    font-style: italic;
}

.barlow-bold-italic {
    font-family: "Barlow", serif;
    font-weight: 700;
    font-style: italic;
}

/* Barlow Semi Condensed */
/* https://fonts.google.com/specimen/Barlow+Semi+Condensed */

.barlow-semi-condensed-light {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 300;
    font-style: normal;
}

.barlow-semi-condensed-regular {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-semi-condensed-medium {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 500;
    font-style: normal;
}

.barlow-semi-condensed-semibold {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 600;
    font-style: normal;
}

.barlow-semi-condensed-bold {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 700;
    font-style: normal;
}

.barlow-semi-condensed-light-italic {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 300;
    font-style: italic;
}

.barlow-semi-condensed-regular-italic {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 400;
    font-style: italic;
}

.barlow-semi-condensed-medium-italic {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 500;
    font-style: italic;
}

.barlow-semi-condensed-semibold-italic {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 600;
    font-style: italic;
}

.barlow-semi-condensed-bold-italic {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 700;
    font-style: italic;
}

/* Barlow Condensed */
/* https://fonts.google.com/specimen/Barlow+Condensed */

.barlow-condensed-light {
    font-family: "Barlow Condensed", serif;
    font-weight: 300;
    font-style: normal;
}

.barlow-condensed-regular {
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-condensed-medium {
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: normal;
}

.barlow-condensed-semibold {
    font-family: "Barlow Condensed", serif;
    font-weight: 600;
    font-style: normal;
}

.barlow-condensed-bold {
    font-family: "Barlow Condensed", serif;
    font-weight: 700;
    font-style: normal;
}

.barlow-condensed-light-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 300;
    font-style: italic;
}

.barlow-condensed-regular-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: italic;
}

.barlow-condensed-medium-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: italic;
}

.barlow-condensed-semibold-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 600;
    font-style: italic;
}

.barlow-condensed-bold-italic {
    font-family: "Barlow Condensed", serif;
    font-weight: 700;
    font-style: italic;
}