body {
    font-size: 1em;
    line-height: 1.3;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('/resources/keyboard_header.jpg');
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    color: white;
    display: flex;
    /* Add the blur effect */
    /* filter: blur(4px);
    -webkit-filter: blur(4px); */
}

header h1 {
    color: whitesmoke;
    font-size: 3.5em;
    text-transform: uppercase;
}

header h2 {
    color: whitesmoke;
    font-size: 2.5em;
    text-transform: uppercase;
}

footer {
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
}

h1 {
    color: #4a758b; /* #3C6478; */
    text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

a {
    color: #4a758b; /* #3C6478; */
    text-decoration: none;
}

a:hover {
    color: #333; /* #3C6478; */
    text-decoration: underline;
}

a:visited {
    color: #224658; /* #3C6478; */
}

.header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;;
}

.profile {
    padding: 0 0 20px 0;
    margin: 20px 20px 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

.sidebar {
    padding: 20px;
    width: 100%;
}

.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6 {
    color: #4a758b; /* #3C6478; */
    text-transform: uppercase;
}

.sidebar section {
    padding: 0 0 20px 10px;
}

.sidebar section ul {
    margin-block-start: 0;
    padding-inline-start: 25px;
    line-height: 1.5;
}

.sidebar-list {
    display: none;
}

.sidebar-list-subheading {
    display: none;
}

.sidebar-heading-icon {
    display: inline;
}

.main {
    flex: 60%;
    padding: 20px;
}

.main h1 {
    font-size: 2em;
}

.main h3 {
    font-size: 1.1em;
    margin: 0 0 5px 0; /* 5px 0 15px 0 */
}

.main h4 {
    margin: 0 0 5px 0;
}

.main section {
    padding: 10px;
    margin-bottom: 20px;
    /* background-color: #4a758b2a; #eae8e8; */
    /* border: 1px solid #4a758b; */
    /* border-radius: 5px; */
}

#sidebar-heading-contact, #sidebar-heading-skills, #sidebar-heading-languages, #sidebar-heading-references {
    display: block;
}

#sidebar-heading-contact:hover, #sidebar-heading-skills:hover, #sidebar-heading-languages:hover, #sidebar-heading-references:hover {
    cursor: pointer;
}

#sidebar-list-contact {
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 32px; /* 22px more padding to account for the chevron icon allowing collapse/expand of the list */
}

#sidebar-list-skills-1, #sidebar-list-skills-2, #sidebar-list-skills-3, #sidebar-list-skills-4, #sidebar-list-skills-5, #sidebar-list-languages, #sidebar-list-references {
    margin-block-start: 0;
    padding-inline-start: 52px; /* 22px more padding to account for the chevron icon allowing collapse/expand of the list */
}

#sidebar-subheading-skills-1, #sidebar-subheading-skills-2, #sidebar-subheading-skills-3, #sidebar-subheading-skills-4, #sidebar-subheading-skills-5 {
    padding-inline-start: 32px; /* 22px more padding to account for the chevron icon allowing collapse/expand of the list */
}


/* Small device (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium device (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sidebar {
        padding: 20px;
        width: 250px;
        margin-right: 25px;
    }

    .sidebar-list {
        display: block;
    }

    .sidebar-list-subheading {
        display: block;
    }
    
    .sidebar-heading-icon {
        display: none;
    }

    #sidebar-heading-contact:hover, #sidebar-heading-skills:hover, #sidebar-heading-languages:hover, #sidebar-heading-references:hover {
        cursor: auto;
    }

    #sidebar-list-contact {
        list-style-type: none;
        margin-block-start: 0;
        padding-inline-start: 10px;
    }
    
    #sidebar-list-skills-1, #sidebar-list-skills-2, #sidebar-list-skills-3, #sidebar-list-skills-4, #sidebar-list-skills-5, #sidebar-list-languages, #sidebar-list-references {
        margin-block-start: 0;
        padding-inline-start: 30px;
    }

    #sidebar-subheading-skills-1, #sidebar-subheading-skills-2, #sidebar-subheading-skills-3, #sidebar-subheading-skills-4, #sidebar-subheading-skills-5 {
        padding-inline-start: 10px;
    }
}

/* Large device (desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* X-large device (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {}

/* XX-Large device (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {}